{% extends "streamer/base.html" %}

{% block head %}
	<title>Verify Your E-mail Address - TRACLE</title>
{% endblock %}

{% block main_content %}

{% include 'streamer/navbar.html' %}

<div style="grid-column-start: 1; grid-column-end: 4; text-align: center">
    <h1>Verify Your E-mail Address</h1>

    <p style="font-size: 1.2em">We have sent an e-mail to you for verification. Follow the link provided to finalize the signup process. Please contact us if you do not receive it within a few minutes.</p>

{% endblock %}
